In [1]:
print("this is my first project")

this is my first project

In [2]:
print("hello world")

hello world

In [3]:
print("my name is saman") # this is my name
print("35") # this is my age
print(2+1) #this is a addition sum

my name is saman
35
3

In [4]:
x = 5
x = 10

print(x)

10

In [5]:
first_name = "Jhon"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

Jhon Doe

In [6]:
age = True

print(type(age))

<class 'bool'>

name = "Saman" # this is name of the customer
age = 35  # age of the customer
height = 5.4 # height of the customer
weigh = "80 kg"  # weigh of the customer
is_married = True # she was asked if she is married or not and her answer was yes
have_children = True # she was assked is she having children or not and her answer was yes
print (name, age, height,weigh,is_married,have_children) # printing all the variables

In [7]:
print(type(name)) #printing the types of all used variables in the data
print(type(age))
print(type(height))
print(type(weigh))
print(type(is_married))
print(type(have_children))

NameError: name 'name' is not defined

In [ ]:
print("Hello World")

### Hello World

## this is the heading of this page where we are going to learn something new

# Float Function

In [ ]:
numb = 10
print(type(numb))
a = float(numb)
print(a)
print(type(a))

In [ ]:
a = "3.14"
b = float(a)
print(type(b))
c = int(b)
print(c)

In [ ]:
a="22"
b = int(a)
print(b)

In [ ]:
print(type(a))
print(type(b))

In [ ]:
integer = 567

print(type(integer))

In [ ]:
b = str(integer)
print(type(b))

In [ ]:
c = "22"
d = b+c
print(d)

In [ ]:
score = 1234.56

print("the player score is", int(score))

In [ ]:
p = 2500000
r = 9.34567
t = 3
SI = ((p*r*t)/100)
print("the simple interest is",SI)
print("the integer value is", int(SI))

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
print(not a

### input function

## write a python cde for hostel students. ask them to mention their course name and age for 5 students. the calculate the avg age of the students.

In [ ]:
st_1 = abs(int(input("enter your age")))
st_1_c=input("enter your course name")
st_2 = abs(int(input("enter your age")))
st_2_c=input("enter your course name")
st_3 = abs(int(input("enter your age")))
st_3_c=input("enter your course name")
st_4 = abs(int(input("enter your age")))
st_4_c=input("enter your course name")
st_5 = abs(int(input("enter your age")))
st_5_c=input("enter your course name")
print("age of the first student is ", st_1,"and course name is " , st_1_c)
print("age of the second student is ", st_2,"and course name is " , st_2_c)
print("age of the third student is ", st_3,"and course name is " , st_3_c)
print("age of the fourth student is ", st_4,"and course name is " , st_3_c)
print("age of the fifth student is ", st_5,"and course name is " , st_4_c)
sum_age = st_1+st_2+st_3+st_4+st_5
avg_age = sum_age/5

print("the average age of all 5 students is ", avg_age)

In [ ]:
help(len)

### assignment question

In [ ]:
current_temp = int(input("enter the current temperature"))
min_temp = 25
max_temp = 45

a = min_temp <= current_temp <= max_temp


print("if the current temperature is within the range" , a)

# Conditional Statement

In [ ]:
i = 20
if i<10:
    print("the condition is true")
print("Condition is false")

In [ ]:
temp = float(input("enter the temperature"))
if temp <15:
    print("Temperature is not convinient")
if 24 < temp < 28:
    print("Temperature is convinient")
if temp > 28:
    print("Temperature is higher then expected")

## if-else Statememt

In [ ]:
age = int(input("Enter your age"))

if age >18:
    print("You are eligible to vote")
else:
    print("You are under age")

write a python code to calculate the net salary of the employees of a company base on their experience 
if more than 5 years then they wll get a bouns of 8% in their basic salary but with a deduction of 12% tax. and if their experience is not more than 5 years than they will not 
get any bonus but the tax will be deducted as stated

In [ ]:
base_salary = float(input("Enter your base salary"))
years_of_exp = float(input("Enter your years of experience"))

if years_of_exp >=5:
    total_salary = int(base_salary + (0.08 * base_salary)-(0.12*base_salary))
    print("Your net salary is ", total_salary)
else: 
    net_salary = int(base_salary- (0.12*base_salary))
    print("Your net salary is ", net_salary)

# if elif else Statement

# Practice Questions

### Write a Python program that takes an integer input from the user and checks if the number is even or odd.

In [ ]:
number = int(input("Enter the digit"))

if number%2==0:
    print(number, " is an even number")
else:
    print(number, " is an odd number")

### Write a Python program that takes two numbers as input and prints which one is larger. If both numbers are equal, display a message saying they are equal.

In [ ]:
num_1 = int(input("Enter first number"))
num_2 = int(input("Enter second number"))

if num_1 > num_2:
    print(num_1, " is greater than ", num_2)
elif num_1 < num_2:
    print(num_1, " is less than ", num_2)
else:
    print("both numbers are equal")

### Write a Python program that asks the user for their exam score (0-100). Based on the score, print the grade:

A for scores 90 and above
B for scores between 80 and 89
C for scores between 70 and 79
F for scores below 70

In [ ]:
score = int(input("Enter your score (1-100)"))

if 90 <= score <= 100:
    print("Your grade is A")
elif 80 <= score <= 89:
    print("Your grade is B")
elif 70 <= score <= 79:
    print("Your grade is C")
elif score >100:
    print("invalid value")
elif score < 0:
    print("score cannot be negative")
else:
    print("Your grade is F")

# loops

In [ ]:
score = int(input("Enter your score (1-100)"))

if 90 <= score <= 100:
    print("Your grade is A")
elif 80 <= score <= 89:
    print("Your grade is B")
elif 70 <= score <= 79:
    print("Your grade is C")
elif score >100:
    print("invalid value")
elif score < 0:
    print("score cannot be negative")
else:
    print("Your grade is F")

In [ ]:
count = 1
while count <=5:
    print(count)
    count = count+1

In [ ]:
num = 1
while num <=50:
    if num%2 ==0:
        print(num)
    num = num+1

### while loop using if else statement

In [ ]:
email = input("please enter your email address")

valid_email = False
while not valid_email:
    if "@" in email and "." in email:
        print("Email address validation is passed.")
        valid_email = True
    else:
        print("Invalid email, please try again")
        email = input("please enter a valid email address")

### lecture 9 : for loop

In [ ]:
number = "students"
for i in number:
    print(i)

In [ ]:
for i in range (6):
    print(i)

In [ ]:
for x in range(5,11):
    print(x)

# for loop anf if condition

In [ ]:
for i in range(0,11):
    if i%2==0:
        print("even",i)
    else:
        print("odd",i)

# generate table of a number given by the user

In [ ]:
number = int(input("enter the number to generate table of:"))
print("the table of ", number, " is ")
for i in range(15,36):
    print(f"{number} x {i} = {number*i}")

# practice question

In [ ]:
number = int(input("enter the amount of products you want to purchase "))
total_price = 0

for i in range(number):
    price = float(input("Enter the price of the items "))
    total_price = total_price + price

if total_price >= 100:
    discount = 0.10* total_price
elif 50 <=total_price <100:
    discount = 0.5 * total_price
else: discount = 0
    
print("your bill before deducting discount is ",total_price)
total_bill = total_price-discount
print("payable after deducting discount is ", total_bill)

### break statement

### break statement is used to break the current iteration

In [ ]:
for i in range(5):
    if i ==3:
        break
    print(i)

### continue statement

### continue statement is used to skip the current iteration of the loop and continue the current flow of the program and goes to the next iteration

In [ ]:
for i in range(5):
    if i ==4:
        continue
    print(i)
print("i have learnt the continue statement")

## Practice Questions :
### Even Numbers Printer
### Write a program that uses a for loop to print all even numbers between 1 and 20. Skip the number 12 using the continue statement.

In [ ]:
for i in range(1,21):
    if i%2!=0:
        continue
    if i==12:
        continue
    print(i)

### Divisors Finder
Create a program that takes an input number from the user and finds all of its divisors using a while loop. Stop the loop if a divisor greater than 10 is found using the break statement.

In [ ]:
num = int(input("Enter the number "))
i = 1
while i <= num:
    if num%i==0:
        print(i)
    if i > 10:
        break
    i=i+1

### Sum of Multiples
### Write a for loop to calculate the sum of all multiples of 3 between 1 and 50. Use the continue statement to skip numbers that are also multiples of 5.

In [ ]:
total = 0
for i in range(1,51):
    if i%3==0:
        if i%5==0:
            continue
        total +=i
print("sum of all multiples of 3(excluding multiples of 5)", total)

In [ ]:
total = 0
for i in range(1, 51):
    if i % 3 == 0:
        if i % 5 == 0:
            continue
        total += i
print("Sum of multiples of 3 (excluding multiples of 5):", total)

### Reverse Countdown
### Implement a while loop to print numbers from 10 to 1 in reverse order. If the number is 5, stop the loop using the break statement.

In [ ]:
i = 10
while i >0:
    if i==5:
        continue
    print(i)
    i -= 1

### Prime Number Checker
### Write a program that takes a user input number and checks if it is prime using a for loop. Use the break statement to exit the loop if a divisor is found, and print whether the number is prime or not.

In [ ]:
number = int(input("enter a number"))
is_prime = True
for i in range(2,number):
    if number%i==0:
        is_prime = False
        break
if is_prime:
    print(f"{number} is a prime number")
else:
    print(f"{number} is not a prime number")

# Lecture 10

## userdefined functions

creating and calling a userdefined functions

In [ ]:
def my_func():
    print("my name is saman")

my_func()

In [ ]:
my_func()

In [ ]:
def details_bill():
    print("the last date to pay your bill is next monday")
    print("after deadline you need to pay 5 days every day")
    print("pay your bill before deadline")

In [ ]:
for i in range(3):
    a = input("enter your name")
    b = int(input("enter the unit as electricity you have consumed"))
    bill = b* 10
    print("total amount payable is ", bill)
    details_bill()

### create a function to check wheather a number entered by the user is even or odd

In [ ]:
def check_even_odd(number):
    if number % 2 == 0:
        print(number, " is even")
    else:
        print(number, " is odd")

In [ ]:
number = int(input("enter a number"))
check_even_odd(number)

### 2 arguments

In [ ]:
def full_name(first_name, last_name):
    print("your full name is " ,first_name + " " + last_name)

In [ ]:
first_name = input("enter your first name")
last_name = input("enter your last name")
full_name(first_name, last_name)

### String in Python

In [ ]:
str = "I am saman \n My age is 35 years old"
print(str)

In [ ]:
print("I am saman \n My age is 35 years old")

### Multilines String

## """ """ commas are used to send the tex to the next line. insteads of using
## \n again and again you can use """

In [ ]:
a = """ t is a long established fact that a reader will be distracted by the rea
dable content of a page 
when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
normal distribution of letters, as opposed to using 'Content here, content here', maki
ng it look like readable English. Many desktop publishing packages and web pa
ge editors now use Lorem Ipsum as their default model text, and a search for 'lorem ips
um' will uncover many web sites still in their infancy. Various versions have evolve
d over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."""

print(a)

# Indexing in the strings

In [ ]:
a = "hello dear learners"
# checking for index position of 'h' from hello' use []
print(len(a))
print(a[-19])
print(a[-17], a[6],a[9], a[6:24])

# Slicing in the String

In [ ]:
a = "I am learning data science"
#print(a[0:4])
print(a[0:8])

## Slicing with jump

In [ ]:
a = "I am learning data science"
#print(a[0:10:2]) # to jump of 1 we have to write 2 here. its always n+1

print(a[-6:-1:2])

## practice questions:

### write a python program to extract date parts from a string.

In [ ]:
def extraxt_date_parts(date_string):
    year = int(date_string[0:4])
    month = int(date_string[5:7])
    day = int(date_string[9:10])
    return(year,month,day)
print(extraxt_date_parts("2024-12-05"))

#### write a python function that taskes a string as an input and returns the substring from the 3rd to the 8th character. 
#### 'Data scinence'
#### 'Hello World I am learning Python'
#### 'All the Best'

In [ ]:
def substr(strings_):
    extract_=str(strings_[3:8])
    return extract_

In [ ]:
print(substr("Data Science"))
print(substr("Hello World I am learning Python"))
print(substr("All the best"))

Given the string s = "Hello world", what will be the result of s[1:5]

In [ ]:
s = str("Hello World")
print(s[1:5])
s1 = str("Programming")
print(s1[0])
s2 = str("Artificial")
print(s2[:-4])

# Strings Part2

In [ ]:
# Length method for counting string length

In [ ]:
s="the i scale"
print(len(s))
s1=" "
print(len(s1))

String with special symbols

In [ ]:
s = "hello\nworld"
print(s)
print(len(s))

s = "hello@world"
print(s)
print(len(s))

In [ ]:
s=""" hello
world"""
print(s)
print(len(s))

### Python Modify strings

In [ ]:
s = "This is the isCAle"
print(s.upper())

In [ ]:
### Lower case method

In [ ]:

a = "My name is saman"
print(s.upper())
b = "I AM LEARNING PYTHON"
print(s.lower())

In [ ]:
# Replace method

In [ ]:

text = "hello world i am learning method"
rep = text.replace("Python", "data science")
#caps = text.upper(text[0:7])
#print(caps)
print(rep)

# Finding Index position is the string

In [ ]:
text = "Hello I am learning pythod"
print(text.index("learning"))

### Find method

In [ ]:
a = "pythond is great"
b = a.find("g")
print(b)

## Practice Questions
### Write a python program that accomplishes the following tasks:
### 1) concatenate the strings "Hello" and "World"
### 2) Find the length of the resulting string from the concatenation
### 3) Extract "World" from the string
### 4) Reverse the above string
### 5) Convert the reversed string to uppercase
### 6) replace the letter 'L' with 'X' in above string

In [ ]:
# string concatenation
my_string = "Hello" +" "+ "World"
print(my_string)
# finding length of the resulting string
print("length = ", len(my_string))
# extracting "World" from the string
ext = my_string[6:12]
print("extracting word ", ext)
# Reversing
rev = ext[::-1]
print("Reversing the world", rev)
# coverting into uppercase
upper_case = rev.upper() 
print("Changing in upper case ", upper_case)
# replacing "l" with "X"
rep = upper_case.replace("L", "X")
print("replacing L with X", rep)

 Practice Questions 1:
 print numbers from 1 to 100

In [ ]:
numbers = 1
while numbers <=100:
    print(numbers)
    numbers +=1

2: print numbers from 100 to 1

In [ ]:
numbs = 100
while  numbs >=1:
    print(numbs) 
    numbs -= 1

In [ ]:
i = 100
while  i >=1:
    print  (i)
    i = i - 1

3  : print the multiplication table of a number n

In [ ]:
n = int(input("Enter a number"))
i = 1
while i <=10:
    print(n,"X",i,"=",n*i)
    i+=1

4: print the elementa of the following liat using a while loop 
[1,4,9,16,25,36,49,64,81,100]

In [ ]:
numbs = [1,4,9,16,25,36,49,64,81,100]
i = 0
while i<=len(numbs)-1:
    print(numbs[i])
    i +=1

5: search for a number x in this tuple using loop:

In [ ]:
data = (1,4,9,16,25,36,49,64,81,100)
x = 36
i = 0
while i <= len(data)-1:
    if (data[i]== x):
        print("found",i)
        i +=1

In [ ]:
data = (1,4,9,16,25,36,49,64,81,100)
x = 36
i = 0
while i <= len(data)-1:
    if (data[i]== x):
        print("found",i)
        i +=1